/*
COLOR PALETTE
  lightgreen: rgb(210, 239, 232); 
  green: rgb(95, 198, 173); 
  yellow: rgb(217, 255, 102);
  blue: rgb(52, 75, 201);
*/

/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Utilities */
.container {
	margin: 0 auto;
	max-width: 540px;
}

/* Generic  */
body {
	padding: 0rem;
	font-family: Inter, sans-serif;
	background-color: rgba(52, 16, 57, 0.927);
}

header {
	display: flex;
	align-items: center;
	justify-content:space-around;
	margin-bottom: 1rem;
	background-color: rgb(160, 9, 147);
}

h1 {
	color: rgb(254, 251, 185);
	font-size: 1.5rem;
	text-align: right;
}

/* Panel */
.panel {
	padding: 0.4rem;
	border-radius: 1rem;
	background-color: rgb(254, 211, 225);
}

/* "Add Term" module elements */
.add-term {
	display: flex;
	gap: 1rem;
	margin-top: 2rem;
	position: relative; 
	/* override this inline for aspect ratio other than square */
}

.add-term-input {
	font-size: 1.5rem;
	padding: 0.3rem;
	border-radius: 0.8rem;
	border: none;
	flex-grow: 1;
	background-color: rgb(254, 251, 185);
}

.new-term-button {
	cursor: pointer;
	padding: 0.5rem;
	border: none;
	border-radius: 1rem;
	background-color: rgb(160, 9, 147);
	border-style: inset;
}

.empty-list-message {
	text-align: center;
	font-weight: bold;
	font-size: 2rem;
	background-color: rgb(254, 251, 185);
	min-block-size: 10rem;
	line-height: 10rem;
	border-radius: 1rem;
}

/* Terms list panel */

.term-item {
	display:flex;
	align-items: center;
	list-style-type: none;
	gap: 0.05rem;
	margin: 0.3rem 0;
	border: none;
}

.term-italian, .term-english {
	display: flex;
	width: 100%;
	margin: 0 0.2rem;
}

.term-text-it,.term-text-en {
	background-color: rgb(254, 251, 185);
	border-radius: 0.5rem;
	line-height: 1.2rem;
	font-size: 1.2rem;
	width: 100%;
	padding: 0.5rem 0.2rem;
}
.flag-button-it, .flag-button-en {
	font-size: 1.5rem;
/*	vertical-align: top;*/
	background-color:transparent;
	border:none;
	margin: 0 0.1rem;
}

.term-italian>.term-hide {
	width: 100%;
	text-align: right;
}

.term-check:hover, .term-delete:hover, .term-edit:hover, .term-arrow-up:hover, 
.term-arrow-down:hover, .term-text-it-edit:hover, .term-text-en-edit:hover,
.flag-button-it:hover, .flag-button-en:hover {
	background-color: rgb(255, 183, 0);
	cursor: pointer;
}

.term-edit {
	border-radius: 0.5rem;
	background-color: rgb(160, 9, 147);
}
.pencil-icon {
	padding: 0.2rem 0 0 0.2rem;
	height: 2rem;
}


.term-check {
	padding: 0 0.3rem;
	border-radius: 0.5rem;
	background-color: rgba(55, 255, 0, 0.591);
}
.check-icon {
	padding: 0.2rem 0 0 0;
	height: 2rem;
}

.term-delete {
	padding: 0 0.2rem;
	border-radius: 0.5rem;
	background-color: rgb(255, 136, 136);
}
.trash-bin-icon {
	padding: 0.2rem 0 0 0;
	height: 2rem;
}

/* Edit mode changes*/

.edit-mode {
	background-color: rgb(254, 251, 185);
}

.label-icon {
	height: 3rem;
}

.arrow-up-icon {
	margin: 0.25rem 0.2rem 0 0.1rem;
	padding: 0 0.2rem;
	height: 1.25rem;
}
.arrow-down-icon {
	margin: 0 0.2rem 0 0.1rem;
	padding: 0 0.2rem;
	height: 1.25rem;
}

.term-text-it-edit, .term-text-en-edit {
	padding: 0 0.2rem;
	width: 100%;
	border: solid;
	font-size: 2.4rem;
	color:rgb(160, 9, 147);
}