/*
COLOR PALETTE
  lightgreen: rgb(210, 239, 232); 
  green: rgb(95, 198, 173); 
  yellow: rgb(217, 255, 102);
  blue: rgb(52, 75, 201);
*/

/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Utilities */
.container {
	margin: 0 auto;
	max-width: 540px;
}

/* Generic  */
body {
	padding: 0rem;
	font-family: Inter, sans-serif;
	background-color: rgba(52, 16, 57, 0.927);
}

header {
	display: flex;
	align-items: center;
	justify-content:space-around;
	margin-bottom: 1rem;
	background-color: rgb(160, 9, 147);
}

h1 {
	color: rgb(254, 251, 185);
	font-size: 1.5rem;
	text-align: right;
}

/* Panel */
.panel {
	padding: 0.5rem;
	border-radius: 1rem;
	background-color: rgb(255, 202, 210);
}

/* "Add Term" module elements */
.add-term {
	display: flex;
	gap: 1rem;
	margin-top: 2rem;
	position: relative; 
	/* override this inline for aspect ratio other than square */
}

.add-term-input {
	font-size: 1.2rem;
	padding: 0.3rem;
	border-radius: 0.8rem;
	border: none;
	flex-grow: 1;
	background-color: rgb(254, 251, 185);
}

button {
	cursor: pointer;
	padding: 0.5rem;
	border: none;
	border-radius: 1rem;
	background-color: rgb(160, 9, 147);
	border-style: inset;
}

.empty-list-message {
	text-align: center;
	font-weight: bold;
	font-size: 1.5rem;
	background-color: rgb(254, 251, 185);
	line-height: 5rem;
}

/*Terms list panel */

.term-item, .term-text-edit {
	display:flex;
	align-items: center;
	list-style-type: none;
	margin: 1rem 0;
	font-size: 1.5rem;
	border: none;
}

.term-check , .term-text, .term-text-edit, .term-delete {
	line-height:  2rem;
	padding: 0 0.5rem;
}

.term-text, .term-text-edit {
	width: 100%;
	background-color: rgb(254, 251, 185);
}

.term-edit, .term-text-edit , .term-arrow-up, .term-arrow-down {
	background-color: rgb(254, 251, 185);
	line-height:  2rem;
	padding-left: 0.1rem;
	color:darkred;
}

.term-check:hover, .term-delete:hover, .term-edit:hover, .term-text-edit:hover, .term-arrow-up:hover, .term-arrow-down:hover {
	background-color: rgb(250, 210, 28);
	cursor: pointer;
}

.term-check {
	border-radius: 0.5rem 0 0 0.5rem;
	background-color: rgb(217, 255, 102);
	width: 2rem;
}

.term-delete {
	border-radius: 0 0.5rem 0.5rem 0;
	background-color: rgb(255, 175, 175);
}